.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  width: fit-content;
  position: relative;
  height: 60%;
  overflow: inherit;
}

.cursive {
  font-family: "neonoir", sans-serif;
  font-weight: 100;
  font-size: 4rem;
  margin: 0 0 1rem 0;
  text-transform: lowercase;
}

